.google-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}